body, html{
  margin:0;
  padding:0;
  min-width: 100%;
}

#space {
  position: absolute;
	top: 0;
	left: 0;
  background: #000000;
  z-index: -1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */
  align-content: stretch;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.5vh 1.5vh;
  text-decoration: none;
  font-size: 4vh;
}

li:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover{
  background-color: rgb(0, 153, 255);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: blue;
}

#ChangeLog {
  margin-left: auto
}

div.GameGroup {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2vh 0px 0px 2vw;
}

div.Extra {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2vh 0px 0px 2vw;
}

.Game-Option {
  height: 21vh;
  padding: 1.5vh;
  margin: 1.5vh
}

.Group-text {
  color: white;
  font-size: 6vh;
}

.Game-Text-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 5vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
  position:absolute;
}

button.Game-Text-Button:hover {
  color: lightskyblue;
}

.Link-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 5vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
}

button.Link-Button:hover {
  color: lightskyblue;
}

.Game-Image-Button {
  float: left;
  width: 16vh;
  height: 16vh;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: 102% 102%;
  border: .5vh solid blue;
  margin: 2vh 1.5vh 0vh 0vh;
  padding: 0;
}

button.Game-Image-Button:hover {
  border: 1vh solid lightskyblue;
}

.Game-Description{
  color: white;
  padding: 0px 0px 1vh 1vw;
  width: 80vh;
  margin: 0;
  font-size: 4vh;
  position:relative;
  top: 7vh;
}

footer {
  color: white;
  position: relative;
  left: 4vw;
  width: 40vw;
  margin: 1vh 0px 1vh 0px;
  font-size: 3vh;
}