body, html{
  margin:0;
  padding:0;
  min-width: 100%;
}

#space {
  position: absolute;
	top: 0;
	left: 0;
  background: #000000;
  z-index: -1;
}

.navbar {
  background-color: #2c3e50;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-logo {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1.5rem;
}

.nav-links a, .nav-links span {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-links a:hover, .nav-links span:hover {
  color: #66b2ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  color: white;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  border-bottom: 2px solid #66b2ff;
  color: #66b2ff;
}

#ChangeLog {
  margin-left: auto
}

div.GameGroup {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2px 0px 0px 2px;
}

div.Extra {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2vh 0px 0px 2vw;
}

.Game-Option {
  height: 120px;
  padding: 7px;
  margin: 1.5px 0px 1.5px 0px
}

.Group-text {
  color: white;
  font-size: 5vh;
}

.Game-Text-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 5vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
  position:absolute;
}

button.Game-Text-Button:hover {
  color: lightskyblue;
}

.Link-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 5vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
}

button.Link-Button:hover {
  color: lightskyblue;
}

.Game-Image-Button {
  float: left;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: 102% 102%;
  border: .5vh solid blue;
  margin: 2vh 1.5vh 0vh 0vh;
  padding: 0;
}

button.Game-Image-Button:hover {
  border: 1vh solid lightskyblue;
}

.Game-Description{
  color: white;
  padding: 0px 0px 1vh 1vw;
  max-width: 450px;
  margin: 0;
  font-size: 3vh;
  position:relative;
  top: 7vh;
}