div {
  box-sizing: border-box;
  padding: 0 8% 0 8%;
}

h2 {
  text-align: center;
  font-size: 5vh;
}

h3 {
  text-align: center;
  font-size: 4vh;
}

hr {
  width: 85%;
}

p {
  font-size: 3vh;
}

.page {
  box-sizing: border-box;
  vertical-align: top;
  padding:1vh;
  width: 30%;
}

#ContentTable {
  width: 80%;
  margin: auto;
  font-size: 2.5vh;
}

#ContentTable ul {
  padding: 0px;
}

.centerText {
  text-align: center;
}

@media all {
  #ContactInfo {
    width: 350px;
    margin: auto;
    font-size: 3vh;
    border: 1px solid black;
  }
  
  img {
    display: block;
    margin: auto;
  }
}

@media all and (min-width: 800px) {
  #ContactInfo {
    width: 350px;
    margin: 2vh;
    font-size: 3vh;
    float: right;
    border: 1px solid black;
  }
  img {
    display: block;
    margin: auto;
    direction:ltr;
  }

}