#space {
  position: absolute;
	top: 0;
	left: 0;
  background: #000000;
}

footer {
  color: white;
  position: relative;
  left: 125px;
  width: 375px;
  padding: 10px 0px 20px 0px;
}

.Game-Option {
  height: 100px;
}

div.GameGroup {
  position: relative;
  left: 0px;
  margin: auto;
  padding: 10px 0px 0px 50px;
}

.Group-text {
  color: white;
}

.Game-Text-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 25px Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 5px;
}

button.Game-Text-Button:hover {
  color: lightskyblue;
}

.Game-Image-Button {
  float: left;
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
  background-color: white;
  border: 3px solid blue;
  margin: 10px 10px 0px 0px;
}

button.Game-Image-Button:hover {
  border: 3px solid lightskyblue;
}

#Game-1-Image {
  background-image: url(GameImages/Tanks.png);
  background-size: 76px 65px;
}

#Game-2-Image {
  background-image: url(GameImages/Checkers.png);
  background-size: 76px 65px;
}

#Game-3-Image {
  background-image: url(GameImages/Snake.png);
  background-size: 76px 65px;
}

#Game-4-Image {
  background-image: url(GameImages/Mouse.png);
  background-size: 76px 65px;
}

#Game-5-Image {
  background-image: url(GameImages/Pong.png);
  background-size: 76px 65px;
}

#Game-6-Image {
  background-image: url(GameImages/SkeletonBowling.png);
  background-size: 76px 65px;
}

.Game-Description{
  color: white;
  padding: 0px 0px 10px 15px;
  width: 500px;
  margin: 0;
}