#space {
  position: absolute;
	top: 0;
	left: 0;
  background: #000000;
}

footer {
  color: white;
  position: relative;
  left: 5vw;
  width: 30vw;
  margin: 2vh 0px 2vh 0px;
  font-size: 2vh;
}

.Game-Option {
  height: 12vh;
}

div.GameGroup {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2vh 0px 0px 2vw;
}

div.Extra {
  position: relative;
  left: 0px;
  margin: auto;
  margin: 2vh 0px 0px 2vw;
}

.Group-text {
  color: white;
  font-size: 4vh;
}

.Game-Text-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 3vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
}

button.Game-Text-Button:hover {
  color: lightskyblue;
}

.Link-Button {
  background: rgba(0, 0, 0, 0.0);
  font: 3vh Helvetica Neue;
  color: blue;
  border: 0px;
  margin: 1vh 0 1.5vh 0;
  padding: 0;
}

button.Link-Button:hover {
  color: lightskyblue;
}

.Game-Image-Button {
  float: left;
  width: 9vh;
  height: 9vh;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: 102% 102%;
  border: .5vh solid blue;
  margin: 1.5vh 1vh 0px 0px;
  padding: 0;
}

button.Game-Image-Button:hover {
  border: .5vh solid lightskyblue;
}

#Game-1-Image {
  background-image: url(GameImages/Tanks.png);
}

#Game-2-Image {
  background-image: url(GameImages/Checkers.png);
}

#Game-3-Image {
  background-image: url(GameImages/Snake.png);
}

#Game-4-Image {
  background-image: url(GameImages/Mouse.png);
}

#Game-5-Image {
  background-image: url(GameImages/Pong.png);
}

#Game-6-Image {
  background-image: url(GameImages/SkeletonBowling.png);
}

#Game-7-Image {
  background-image: url(GameImages/Paper.png);
}

.Game-Description{
  color: white;
  padding: 0px 0px 1vh 2vw;
  width: 60vh;
  margin: 0;
  font-size: 2vh;
}