body {
  background: pink;
}

text {
  font-size: 3vmin;
}

button {
  outline: none;
  background: #222  repeat-x;
  font: 3vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -1vmin 1vmin #222;
  padding: 1vmin 2vmin .1vmin 2vmin;
  border: 0;
  border-bottom: 1vmin solid #222;
  min-width: 3vmin;
  -moz-border-radius: 2vmin;
  border-radius: 2vmin;
  margin: 1vmin;
}

button.Menu-Button {
  background: #222  repeat-x;
  font: 6vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -1vmin 1vmin #222;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 0px;
  border-bottom: 1vmin solid #222;
  min-width: 10vmin;
  -moz-border-radius: 2vmin;
  border-radius: 3vmin;
  margin: 2vmin;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: grey;
}

#Heart {
  background-image: url(images/heart.png);
  width: 30vh;
  height: 30vh;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 102% 102%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-shadow: 0px transparent;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -moz-box-shadow: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#Heart:active {
  width: 32vh;
  height: 32vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}