body {
  background: #000000;
  color: white;
  font-size: 2vh;
}

button {
  background: #222  repeat-x;
  font: 3vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -1vmin 1vmin #222;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 0;
  border-bottom: 1vmin solid #222;
  min-width: 5vmin;
  -moz-border-radius: 2vmin;
  -moz-box-shadow: 0 1vmin 1vmin #999;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 2vmin #999;
  margin: 1vmin;
}

button.Menu-Button {
  background: #222  repeat-x;
  font: 6vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -1vmin 1vmin #222;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 0;
  border-bottom: 1vmin solid #222;
  min-width: 6vmin;
  -moz-border-radius: 2vmin;
  -moz-box-shadow: 0 1vmin 2vmin #999;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 2vmin #999;
  margin: 2vmin;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: grey;
}