canvas {
  border: .5vmin solid #d3d3d3;
}

button {
  background: #222  repeat-x;
  font: 3vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -1vmin 1vmin #222;
  padding: 1vmin 2vmin .1vmin 2vmin;
  border: 0;
  border-bottom: 1vmin solid #222;
  min-width: 4vmin;
  -moz-border-radius: 2vmin;
  -moz-box-shadow: 0 1vmin 1vmin #999;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 1vmin #999;
  margin: 1vmin;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: grey;
}

#GameArea {
  position: relative;
  top: 3vmin;
}

#UpgradeArea {
  position: relative;
  top: 3vmin;
}