canvas {
  border: 1px solid #d3d3d3;
}

button {
  background: #222  repeat-x;
  font: 20px Helvetica Neue;
  color: white;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-bottom: 1px solid #222;
  min-width: 80px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  border-radius: 5px;
  box-shadow: 0 1px 3px #999;
  margin: 5px;
}

button.Menu-Button {
  background: #222  repeat-x;
  font: 50px Helvetica Neue;
  color: white;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-bottom: 1px solid #222;
  min-width: 80px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  border-radius: 7px;
  box-shadow: 0 1px 3px #999;
  margin: 5px;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: grey;
}

#UpgradeArea {
  position: relative;
  top: 200px;
}