canvas {
  border: 1px solid #d3d3d3;
  background-image: url(images/Bricks.png);
}

#ButtonArea{
  float: right;
}

button {
  background: #222  repeat-x;
  font: 3vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -.1vmin .1vmin #222;
  padding: .5vmin 1vmin .5vmin 1vmin;
  border: 0;
  border-bottom: .5vmin solid #222;
  min-width: 9vmin;
  -moz-border-radius: 2vmin;
  -moz-box-shadow: 0 1vmin 1vmin #999;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 2vmin #999;
  margin: .5vmin;
}

button.Menu-Button {
  background: #222  repeat-x;
  font: 5vmin Helvetica Neue;
  color: white;
  text-shadow: 0 -.1vmin .1vmin #222;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 0;
  border-bottom: 1vmin solid #222;
  min-width: 7vmin;
  -moz-border-radius: 2vmin;
  -moz-box-shadow: 0 1vmin 2vmin #999;
  border-radius: 3vmin;
  box-shadow: 0 1vmin 2vmin #999;
  margin: 1vmin;
}

#Help-Area #Menu-Button {
  font-size: 5vmin;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: grey;
}

.Level-Button {
  font-size: 9vmin;
  border-radius: 1vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  margin-bottom: 2vmin;
}

#Help-Info {
  position: absolute;
  top: 4vmin;
  left: 50vw;
  font-size: 3vmin;
}

#wins {
  font-size: 3vmin;
}

.Settings-Text {
  font-size: 6vmin;
}

.Tank-Images {
  height: 11vmin;
  min-width: 9vmin;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#Tank1-1-Button {
  background-image: url(images/Tank1.png);
}

#Tank1-2-Button {
  background-image: url(images/Tank2.png);
}

#Tank1-3-Button {
  background-image: url(images/Tank3.png);
}

#Tank1-4-Button {
  background-image: url(images/Tank4.png);
}

#Tank1-5-Button {
  background-image: url(images/Tank5.png);
}

#Tank1-6-Button {
  background-image: url(images/Tank6.png);
}

#Tank1-7-Button {
  background-image: url(images/Tank7.png);
}

#Tank2-1-Button {
  background-image: url(images/Tank1.png);
}

#Tank2-2-Button {
  background-image: url(images/Tank2.png);
}

#Tank2-3-Button {
  background-image: url(images/Tank3.png);
}

#Tank2-4-Button {
  background-image: url(images/Tank4.png);
}

#Tank2-5-Button {
  background-image: url(images/Tank5.png);
}

#Tank2-6-Button {
  background-image: url(images/Tank6.png);
}

#Tank2-7-Button {
  background-image: url(images/Tank7.png);
}
